@import "nav.css";
@import "header.css";
@import "footer.css";
@import "box.css";

body{
    width: 90%;
    margin: 0 auto;
    background-color: #7c7c69;
}

#b-main{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
}

